<a href="https://colab.research.google.com/github/jkwakyi/food-sales-predictions/blob/main/food_sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
!pip install openpyxl==3.0.0

Collecting openpyxl==3.0.0
  Downloading openpyxl-3.0.0.tar.gz (172 kB)
     |████████████████████████████████| 172 kB 16.6 MB/s
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.0) (1.1.0)
Building wheels for collected packages: openpyxl
  Building wheel for openpyxl (setup.py) ... done
  Created wheel for openpyxl: filename=openpyxl-3.0.0-py2.py3-none-any.whl size=241207 sha256=e248372e1528e1bc158884b90fa7ddc48868581ab82f4adf68c2a9d7d833479b
  Stored in directory: /root/.cache/pip/wheels/c7/64/ff/ce98f6e1d2701ae8e216c875da62feed2839ac8a3cae0ab8af
Successfully built openpyxl
Installing collected packages: jdcal, openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.9
    Uninstalling openpyxl-3.0.9:
      Successfully uninstalled openpyxl-3.0.9
Successfully installed jdcal-1.4.1 openpyxl-3.0.0

In [8]:
# import pandas
import pandas as pd

In [9]:
# import filename after mounting drive
filename = '/content/drive/MyDrive/Data/sales_predictions.csv'

In [10]:
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [67]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object


* 11 Colums=ns
* 8523 Rows

* Dtype
  * 4 float64
  * 1 int64
  * 7 objects

In [13]:
# Now that I have information on my Data, I am going to immediatly look into the missing data.


weight_missing = df['Item_Weight'].isna()
size_missing = df['Outlet_Size'].isna()

In [20]:
df[weight_missing].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
21           FDW12          NaN  ...  Supermarket Type3          4064.0432
23           FDC37          NaN  ...      Grocery Store           214.3876
29           FDC14          NaN  ...      Grocery Store           125.8362

[5 rows x 12 columns]

In [19]:
df['Item_Weight'].isna().sum()

1463

In [21]:
df[size_missing].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3            FDX07       19.200  ...      Grocery Store           732.3800
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
25           NCD06       13.000  ...  Supermarket Type1           838.9080
28           FDE51        5.925  ...      Grocery Store           178.4344

[5 rows x 12 columns]

In [22]:
df['Outlet_Size'].isna().sum()

2410

In [39]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]



*   I decided to use the interpolate method here because It would help clean up my data and it doesn't have much of an effect on the mean after comparing the two.
*   I am going to update my database with the item weight column completely filled out.

In [56]:
df = df.loc[0:'Item_Weight'].interpolate(method = 'linear')
df.describe(include = 'all').round(2)

       Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
count             8523      8523.00  ...               8523            8523.00
unique            1559          NaN  ...                  4                NaN
top              FDW13          NaN  ...  Supermarket Type1                NaN
freq                10          NaN  ...               5577                NaN
mean               NaN        12.83  ...                NaN            2181.29
std                NaN         4.45  ...                NaN            1706.50
min                NaN         4.56  ...                NaN              33.29
25%                NaN         9.00  ...                NaN             834.25
50%                NaN        12.60  ...                NaN            1794.33
75%                NaN        16.60  ...                NaN            3101.30
max                NaN        21.35  ...                NaN           13086.96

[11 rows x 12 columns]

In [65]:
df.duplicated().any()

False



*   Checked for duplicates
*   non were there

In [90]:
df['Outlet_Size'].value_counts()

Large     3342
Medium    2793
Small     2388
Name: Outlet_Size, dtype: int64

In [70]:
df.replace({'Low Fat': 'low fat',
            'LF': 'low fat', 
            'Regular': 'regular',
            'reg': 'regular'}, inplace = True)



* Some unneccesary options were present
* I made less options for the same description available. makes analysis easier later on.

In [79]:
df.replace({'High': 'Large'}, inplace = True)

In [89]:
df = df.loc[0: 'Outlet_Size'].fillna('Large')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB



*   I decided to Fill in the missing Outlet sizes with Large sizes because the data showed me that the small outlets were fewest in number, followed by medium, each with around 2500. 
*   I made a judgement call and decided that the disproportionately small amount of Large buildings was due to a MNAR